<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      #top{
        font-size:14px;
        margin: 5px;
        padding: 5px;
        color: blue
      }
      #middle{
        font-size:23px;
        padding: 10px;

      }
        #bottom{
          font-size:33px;
          text-align:center
        }
      h2{
        text-align:center;
        color:rgb(23,654,9)
      }
      .name {
        font-weight: bold;
        color:red
      }

    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="top">
        <h2>Welcome</h2>
        This is the <span class="name"> top part </span>of my page
      </div>

    <div id="middle">
        This is the <span class="name"> middle part </span>of my page
      </div>

  <div id="bottom">
    This is the <span class="name"> bottom part </span>of my page
  </div>

  </body>
</html>
